*{
    margin: 0px;
    padding: 0px;
}
.row{
    background-color: whitesmoke;
}
.pro{
    color: rgb(33, 146, 202);
    margin-top: 40px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.po{
    margin-left: 810px;
    display: flex;
    gap: 60px; 
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;

    
    
}
a{
    text-decoration: none;
}
.if{
    color: black;
    margin-top: 40px;
    text-decoration: none;
}
.of{
    color: black;
    margin-top: 40px;
    text-decoration: none;
}
.hlo{
    color: black;
    margin-top: 40px;
    text-decoration: none;
}
.op{
    color: black;
    margin-top: 40px;
    text-decoration: none;
}
.if:hover{
    border: 2px solid blue;
    margin-bottom: 30px;
    color: blueviolet;

}
.of:hover{
    border: 2px solid blue;
    margin-bottom: 30px;
    color: blueviolet;
}
.hlo:hover{
    border: 2px solid blue;
    margin-bottom: 30px;
    color: blueviolet;
}
.op:hover{
    border: 2px solid blue;
    margin-bottom: 30px;
    color: blueviolet;
}
.col1{
    height: 400px;
    width: 400px;
}
.hhi{
    color: black;
    margin-top: 10vh;
    margin-left: 10vh;
    font-family: cursive;
}
.ha{
    height: 150px;
    margin-top: 5vh;
    margin-left: 30px;
}

.haa{
    height: 150px;
}
.bbb{
    display: flex;
    width: 300px;
    
}
.koo{
    color: black;
    margin-top: 10vh;
    margin-left: 10vh;
    font-family: cursive;
}
.ddd{
    height: 130px;
}
.lll{
    height: 130px;
    margin-left: -30px;
}
.kkk{
    height: 130px;
    margin-left: -30px;
}
.sos{
    color: black;
    margin-top: 10vh;
    margin-left: 20vh;
    font-family: cursive;
}
.ooo{
    height: 130px;
    margin-left: -30px;
}
.ppp{
    height: 130px;
    margin-left: -30px;
}
.ii{
    color: black;
    margin-top: -10vh;
    margin-left: 20vh;
    font-family: cursive;
}
.iss{
    height: 110px;
    margin-left: -10px;
}
.dd{
    color: black;
    margin-top: -10vh;
    margin-left: 20vh;
    font-family: cursive;
}
.ap{
    height: 110px;
    margin-left: 20vh;
}
.tt{
    color: black;
    margin-top: -10vh;
    margin-left: 20vh;
    font-family: cursive;
}
.ttt{
    height: 110px;
    margin-left: 10px;
}
.sss{
    height: 100px;
    margin-left: -30px;
}

    


